@if (menuList.length) {
<mat-nav-list>
  @for (menu of menuList; track $index) {
    @if (menu.children.length) {
      <mat-accordion>
        <mat-expansion-panel [expanded]="menu.active">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!-- <div> -->
              @if (menu.icon) {
              <mat-icon fontSet="material-icons-outlined">{{menu.icon}}</mat-icon>
              }
              {{menu.label}}
              <!-- </div> -->
            </mat-panel-title>
          </mat-expansion-panel-header>
          @for (submenu of menu.children; track $index) {
            @if(submenu.children.length) {
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <!-- <div>{{submenu.label}}</div> -->
                      {{submenu.label}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  @for (submenu2 of submenu.children; track $index) {
                  <a mat-list-item href="#">{{submenu2.label}}</a>
                  }
                </mat-expansion-panel>
              </mat-accordion>
            } @else {
              <a mat-list-item [routerLink]="submenu.url" routerLinkActive="active"> {{submenu.label}} </a>
            }
          }
        </mat-expansion-panel>
      </mat-accordion>
    } @else {
      <a mat-list-item href="#">
        @if (menu.icon) {
          <mat-icon fontSet="material-icons-outlined">{{menu.icon}}</mat-icon>
        }
        {{menu.label}}
      </a>
    }
  }
</mat-nav-list>
}
