<!-- Main Container -->
<app-dashboard-main-container>
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">
          Analytics Dashboard
        </div>
        <div class="font-medium tracking-tight text-secundary">
          Check reports, monitor metrics and review performance
        </div>
      </div>
      <div class="flex item-center">
        <!-- Buttons at the end -->
      </div>
    </div>

    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden">
        <div class="flex items-center justify-between w-full px-5 pt-5">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              Visits
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu1">
              30 days
            </button>
            <mat-menu #menu1="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <span class="text-5xl font-bold text-gray-900 dark:text-gray-300">
            1042
          </span>
          <span class="text-xs text-gray-500 ml-1">
            <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
              </svg>
              <span class="text-xs font-medium"> 67.81% </span>
            </div>
          </span>
        </div>
        <div class="flex flex-col flex-auto h-28">

        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden">
        <div class="flex items-center justify-between w-full px-5 pt-5">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              Requests
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu2">
              30 days
            </button>
            <mat-menu #menu2="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <span class="text-5xl font-bold text-gray-900 dark:text-gray-300">
            704
          </span>
          <span class="text-xs text-gray-500 ml-1">
            <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
              </svg>
              <span class="text-xs font-medium"> 67.81% </span>
            </div>
          </span>
        </div>
        <div class="flex flex-col flex-auto h-28">

        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden">
        <div class="flex items-center justify-between w-full px-5 pt-5">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              Dispatches
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu3">
              30 days
            </button>
            <mat-menu #menu3="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex items-center justify-center w-full">
          <span class="text-5xl font-bold text-gray-900 dark:text-gray-300">
            453
          </span>
          <span class="text-xs text-gray-500 ml-1">
            <div class="inline-flex gap-2 self-end rounded bg-green-100 p-1 text-green-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
              </svg>
              <span class="text-xs font-medium"> 67.81% </span>
            </div>
          </span>
        </div>
        <div class="flex flex-col flex-auto h-28">

        </div>
      </div>
      <!-- End Card -->
    </div>
    <!-- End Grid -->
    <br />
    <!-- Card -->
    <div
      class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden mt-4">
      <div class="flex items-center justify-between sm:mr-10 p-10">
        <div class="flex items-center justify-between w-full">
          <div>
            <div class="text-3xl font-semibold tracking-tight leading-8">
              Clients overview
            </div>
            <div class="font-medium tracking-tight text-secundary">
              Number of clients
            </div>
          </div>
          <div class="flex item-center">
            <!-- Buttons at the end -->
            <mat-button-toggle-group appearance="legacy" name="clientView" aria-label="Font Style"
              [formControl]="clientView">
              <mat-button-toggle value="thisMonth">This month</mat-button-toggle>
              <mat-button-toggle value="lastSemester">Last 6 months</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto h-80">

      </div>
    </div>
    <br>
    <!-- End Card -->
    <br />
    <div class="flex items-center justify-between w-full">
      <div>
        <div class="text-3xl font-semibold tracking-tight leading-8">
          Audience
        </div>
        <div class="font-medium tracking-tight text-secundary">
          Check reports, monitor metrics and review performance
        </div>
      </div>
    </div>

    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-6 md:mt-8">
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden p-6">
        <div class="flex items-center justify-between w-full">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              New vs Old
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu30">
              30 days
            </button>
            <mat-menu #menu30="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-40">
          <!-- Donut Chart -->
        </div>
        <div class="mt-4 divide-y">
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #5927A3;"></div>
              <div class="ml-3 truncate">New</div>
            </div>
            <div class="font-medium text-right">72</div>
            <div class="text-right text-secondary">78%</div>
          </div>
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #BD9BF3;"></div>
              <div class="ml-3 truncate">Old</div>
            </div>
            <div class="font-medium text-right">78</div>
            <div class="text-right text-secondary">52%</div>
          </div>
        </div>

      </div>
      <!-- End Card -->
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden p-6">
        <div class="flex items-center justify-between w-full">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              New vs Old
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu31">
              30 days
            </button>
            <mat-menu #menu31="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-40">
          <!-- Donut Chart -->
        </div>
        <div class="mt-4 divide-y">
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #5927A3;"></div>
              <div class="ml-3 truncate">Male</div>
            </div>
            <div class="font-medium text-right">36</div>
            <div class="text-right text-secondary">25%</div>
          </div>
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #BD9BF3;"></div>
              <div class="ml-3 truncate">Female</div>
            </div>
            <div class="font-medium text-right">87</div>
            <div class="text-right text-secondary">75%</div>
          </div>
        </div>

      </div>
      <!-- End Card -->
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden p-6">
        <div class="flex items-center justify-between w-full">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              Age
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu32">
              30 days
            </button>
            <mat-menu #menu32="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-40">
          <!-- Donut Chart -->

        </div>
        <div class="mt-4 divide-y">
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #5927A3;"></div>
              <div class="ml-3 truncate">Under 40</div>
            </div>
            <div class="font-medium text-right">72</div>
            <div class="text-right text-secondary">45%</div>
          </div>
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #BD9BF3;"></div>
              <div class="ml-3 truncate">Over 40</div>
            </div>
            <div class="font-medium text-right">78</div>
            <div class="text-right text-secondary">55%</div>
          </div>
        </div>

      </div>
      <!-- End Card -->
      <!-- Card -->
      <div
        class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden p-6">
        <div class="flex items-center justify-between w-full">
          <div>
            <strong class="block text-sm font-medium text-gray-500">
              New vs Old
            </strong>
          </div>
          <div class="flex item-center">
            <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
              [matMenuTriggerFor]="menu33">
              30 days
            </button>
            <mat-menu #menu33="matMenu">
              <button mat-menu-item>30 days</button>
              <button mat-menu-item>3 months</button>
              <button mat-menu-item>6 months</button>
            </mat-menu>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-6 h-40">
          <!-- Donut Chart -->

        </div>
        <div class="mt-4 divide-y">
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #5927A3;"></div>
              <div class="ml-3 truncate">German</div>
            </div>
            <div class="font-medium text-right">45</div>
            <div class="text-right text-secondary">23%</div>
          </div>
          <div class="grid grid-cols-3 py-3 ng-star-inserted">
            <div class="flex items-center">
              <div class="flex-0 w-2 h-2 rounded-full" style="background-color: #BD9BF3;"></div>
              <div class="ml-3 truncate">English</div>
            </div>
            <div class="font-medium text-right">89</div>
            <div class="text-right text-secondary">77%</div>
          </div>
        </div>

      </div>
      <!-- End Card -->


    </div>
    <!-- End Grid -->
    <br />
    <!-- Card -->
    <div
      class="flex flex-col flex-auto bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden">
      <div class="flex items-center justify-between w-full px-5 pt-5">
        <div>
          <strong class="block text-sm font-medium text-gray-500">
            Nord vs. South
          </strong>
        </div>
        <div class="flex item-center">
          <button matRipple class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-sm"
            [matMenuTriggerFor]="menu4">
            30 days
          </button>
          <mat-menu #menu4="matMenu">
            <button mat-menu-item>30 days</button>
            <button mat-menu-item>3 months</button>
            <button mat-menu-item>6 months</button>
          </mat-menu>
        </div>
      </div>

      <div class="flex items-start mt-6 mx-6">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 sm:gap-12">
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium text-secondary leading-5">Overall Score</div>
              <mat-icon aria-hidden="true" fontIcon="information-circle"></mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold tracking-tight leading-none">472</div>
              <div class="flex items-center ml-2">
                <mat-icon class="icon-size-5 text-green-500" aria-hidden="true" fontIcon="arrow_circle_up"></mat-icon>
                <div class="ml-1 text-md font-medium text-green-500">42.9%</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium text-secondary leading-5">Average Ratio</div>
              <mat-icon class="ml-1.5 icon-size-4 text-hint" aria-hidden="true" fontIcon="information-circle"></mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold tracking-tight leading-none">45%</div>
              <div class="flex items-center ml-2">
                <mat-icon class="icon-size-5 text-red-500" aria-hidden="true" fontIcon="arrow_circle_down"></mat-icon>
                <div class="ml-1 text-md font-medium text-red-500">13.1%</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex items-center">
              <div class="font-medium text-secondary leading-5">Predicted Ratio</div>
              <mat-icon class="ml-1.5 icon-size-4 text-hint" aria-hidden="true" fontIcon="information-circle"></mat-icon>
            </div>
            <div class="flex items-start mt-2">
              <div class="text-4xl font-bold tracking-tight leading-none">55%</div>
              <div class="flex items-center ml-2">
                <mat-icon class="icon-size-5 text-green-500" aria-hidden="true" fontIcon="arrow_circle_up"></mat-icon>
                <div class="ml-1 text-md font-medium text-green-500">22.2%</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col flex-auto h-80">

      </div>
    </div>
    <!-- End Card -->
  </app-dashboard-main-container>
<!-- End Card Blog -->
