mat-sidenav {
  width: 18rem;
}

mat-sidenav-container {
  height: 100%;
}

.main-container {
  display: flex;
  padding: 3rem 6rem 0 6rem;

  @media screen and (max-width: 600px) {
      padding: 2rem 1rem 0 1rem;
  }
}
