$primary-pat: (
  50 : var(--primary-50),
  100 : var(--primary-100),
  200 : var(--primary-200),
  300 : var(--primary-300),
  400 : var(--primary-400),
  500 : var(--primary-500),
  600 : var(--primary-600),
  700 : var(--primary-700),
  800 : var(--primary-800),
  900 : var(--primary-900),
  A100 : var(--primary-a100),
  A200 : var(--primary-a200),
  A400 : var(--primary-a400),
  A700 : var(--primary-a700),
  contrast: (
        50 : var(--contrast-50),
        100 : var(--contrast-100),
        200 : var(--contrast-200),
        300 : var(--contrast-300),
        400 : var(--contrast-400),
        500 : var(--contrast-500),
        600 : var(--contrast-600),
        700 : var(--contrast-700),
        800 : var(--contrast-800),
        900 : var(--contrast-900),
        A100 : var(--contrast-a100),
        A200 : var(--contrast-a200),
        A400 : var(--contrast-a400),
        A700 : var(--contrast-a700),
  )
);

$accent-pat: (
  50 : var(--accent-50),
  100 : var(--accent-100),
  200 : var(--accent-200),
  300 : var(--accent-300),
  400 : var(--accent-400),
  500 : var(--accent-500),
  600 : var(--accent-600),
  700 : var(--accent-700),
  800 : var(--accent-800),
  900 : var(--accent-900),
  A100 : var(--accent-a100),
  A200 : var(--accent-a200),
  A400 : var(--accent-a400),
  A700 : var(--accent-a700),
  contrast: (
    50 : var(--contrast-50),
    100 : var(--contrast-100),
    200 : var(--contrast-200),
    300 : var(--contrast-300),
    400 : var(--contrast-400),
    500 : var(--contrast-500),
    600 : var(--contrast-600),
    700 : var(--contrast-700),
    800 : var(--contrast-800),
    900 : var(--contrast-900),
    A100 : var(--contrast-a100),
    A200 : var(--contrast-a200),
    A400 : var(--contrast-a400),
    A700 : var(--contrast-a700),
  )
);

$warn-pat: (
  50 : var(--warn-50),
  100 : var(--warn-100),
  200 : var(--warn-200),
  300 : var(--warn-300),
  400 : var(--warn-400),
  500 : var(--warn-500),
  600 : var(--warn-600),
  700 : var(--warn-700),
  800 : var(--warn-800),
  900 : var(--warn-900),
  A100 : var(--warn-a100),
  A200 : var(--warn-a200),
  A400 : var(--warn-a400),
  A700 : var(--warn-a700),
  contrast: (
    50 : var(--contrast-50),
    100 : var(--contrast-100),
    200 : var(--contrast-200),
    300 : var(--contrast-300),
    400 : var(--contrast-400),
    500 : var(--contrast-500),
    600 : var(--contrast-600),
    700 : var(--contrast-700),
    800 : var(--contrast-800),
    900 : var(--contrast-900),
    A100 : var(--contrast-a100),
    A200 : var(--contrast-a200),
    A400 : var(--contrast-a400),
    A700 : var(--contrast-a700),
  )
);


$md-mio: (
  50 : #e8f0f8,
  100 : #c5daee,
  200 : #9ec2e3,
  300 : #77aad7,
  400 : #5a97cf,
  500 : #3d85c6,
  600 : #377dc0,
  700 : #2f72b9,
  800 : #2768b1,
  900 : #1a55a4,
  A100 : #dae9ff,
  A200 : #a7caff,
  A400 : #74abff,
  A700 : #5b9cff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
