 :root {
  --primary-50: #e4eafa;
  --primary-100: #bbcaf3;
  --primary-200: #8ea7ec;
  --primary-300: #6183e4;
  --primary-400: #3f69de;
  --primary-500: #1d4ed8;
  --primary-600: #1a47d4;
  --primary-700: #153dce;
  --primary-800: #1135c8;
  --primary-900: #0a25bf;
  --primary-a100: #eaecff;
  --primary-a200: #b7bfff;
  --primary-a400: #8492ff;
  --primary-a700: #6a7bff;

  --accent-50: #edf5ea;
  --accent-200: #b5d4a7;
  --accent-100: #d2e5ca;
  --accent-300: #97c284;
  --accent-400: #80b569;
  --accent-500: #6aa84f;
  --accent-600: #62a048;
  --accent-700: #57973f;
  --accent-800: #4d8d36;
  --accent-900: #3c7d26;
  --accent-a100: #cdffbe;
  --accent-a200: #a6ff8b;
  --accent-a400: #7fff58;
  --accent-a700: #6cff3f;

  --warn-50: #f9e0e0;
  --warn-100: #f0b3b3;
  --warn-200: #e68080;
  --warn-300: #db4d4d;
  --warn-400: #d42626;
  --warn-500: #cc0000;
  --warn-600: #c70000;
  --warn-700: #c00000;
  --warn-800: #b90000;
  --warn-900: #ad0000;
  --warn-a100: #ffd7d7;
  --warn-a200: #ffa4a4;
  --warn-a400: #ff7171;
  --warn-a700: #ff5858;

  --contrast-50:  #000000;
  --contrast-100: #000000;
  --contrast-200: #000000;
  --contrast-300: #ffffff;
  --contrast-400: #ffffff;
  --contrast-500: rgba(255,255,255, 0.1);
  --contrast-600: #ffffff;
  --contrast-700: #ffffff;
  --contrast-800: #ffffff;
  --contrast-900: #ffffff;
  --contrast-a100: #000000;
  --contrast-a200: #000000;
  --contrast-a400: #ffffff;
  --contrast-a700: #ffffff;

  --grey-50: #fafafa,;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;
  --grey-a100: #ffffff;
  --grey-a200: #eeeeee;
  --grey-a400: #bdbdbd;
  --grey-a700: #616161;

  --white-012: rgba(255,255,255, 0.12);
  --white-004: rgba(255,255,255, 0.04);
}
