@use 'assets/variables';
@use '@angular/material' as mat;
@use 'assets/palette' as palette;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@include mat.core();
// Define light theme colors
$zeittable-primary: mat.define-palette(palette.$primary-pat);
$zeittable-accent: mat.define-palette(palette.$accent-pat, A200, A100, A400);
$zeittable-warn: mat.define-palette(palette.$warn-pat);
// Define dark theme colors
//$zeittable-primary-dark: mat.define-palette(mat.$indigo-palette, 500);
//$zeittable-accent-dark: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//$zeittable-warn-dark: mat.define-palette(mat.$red-palette);

$zeittable-typography: mat.define-typography-config(
  $font-family: theme("fontFamily.sans")
);

$zeittable-theme: mat.define-light-theme((
  color: (
    primary: $zeittable-primary,
    accent: $zeittable-accent,
    warn: $zeittable-warn,
  ),
  typography: $zeittable-typography,
  density: 0
));

$zeittable-theme-dark: mat.define-dark-theme((
  color: (
    primary: $zeittable-primary,
    accent: $zeittable-accent,
    warn: $zeittable-warn,
  ),
  typography: $zeittable-typography,
  density: 0
));

@include mat.all-component-themes($zeittable-theme);
@include mat.all-component-typographies($zeittable-theme);

/* * {
  @apply transition-colors;
} */

html, body {
  @apply h-full;
}
body {
  @apply m-0;
  @apply font-sans;
}

.dark {
  @include mat.all-component-colors($zeittable-theme-dark);
}
